.sidebar {
  height: 100vh;
  width: 220px;
  position: fixed;
  background-color: #023020;
  padding-top: 20px;
  color: white;
}

.sidebar .logo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #2c3530;
  border-radius: 0;
  color: white;
}
